p{
    margin-top: 0;
    margin-bottom: 0;
}

body{
    /*this style below is inherited*/
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    height: 1000px;
    padding-right: 24px;
    font-family: Roboto,arial;
    background-color: rgb(248, 248, 248);
}